In [15]:
mytuple = ('item1','item2')
print(type(mytuple))
A = (3,1,5,-2,7)
A[3]
# tuples are immutable
# tuples allow duplicate elements, dictionaries do not.
# tuple methods are count() and index()

<class 'tuple'>

-2

In [ ]:
#Creating tuple with only 1 item:
onetuple = ("item",) # , after item is compulsory.
# else interpreter thinks it is a string.

In [14]:
# create tuple using tuple constructor
constuple = tuple([3,2,5,1,4,6,3,1,"hello"])
print(constuple[:-1])

(3, 2, 5, 1, 4, 6, 3, 1)

In [17]:
Arr = ("hello","ki","abc")

TypeError: 'NoneType' object is not iterable

In [22]:
# create tuple of 10 integers. Try to print 1st five using +ve index, last five with -ve and middle five via slicingg
K = (3,-2,1,6,23,20,14,31,74,100)
print(K[0:5])
print(K[-6:-1])
print(K[int(len(K)/2-len(K)/4) : int(len(K)/2+len(K)/4)])

(3, -2, 1, 6, 23)
(23, 20, 14, 31, 74)
(1, 6, 23, 20, 14)

In [29]:
Tp = tuple([1]*10)
print(Tp.count(1))
print(Tp.index(1))
print(10>2)

10
0
True

In [31]:
str1 = "     hello world "
print(str1.strip())

hello world